<connectionStrings>
    <add name="DefaultConnection" 
         connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-eRestaurantWebsite-12d1f8b1-bb17-4c42-836e-ad7fc51d1c0f;AttachDbFilename=|DataDirectory|\aspnet-eRestaurantWebsite-12d1f8b1-bb17-4c42-836e-ad7fc51d1c0f.mdf;Integrated Security=SSPI" 
          providerName="System.Data.SqlClient" />

  <add name="EatIn"
       connectionString="Data Source = .; Initial Catalog = eRestaurant; Integrated Security=SSPI"
      
      providerName ="System.Data.SqlClient"/>

</connectionStrings>